$principal:#45B39D;
$fondo: #E8F6F3;
/*colores*/
header{
    background-color:$principal;
}

body{
    background-color:$fondo;
}

.principal {
    color:$principal;
}

.enlaceExterno{
    color: $principal;
}

h1,h2,h3,h4,h5,h6{
    color: $principal;
}

p{
    color: $principal;
}

footer{
    background-color: $principal;
}

.sinEstilo{
    color:$principal;
}

.formulario{
    color:$principal;
}

a{
    &:focus, &:hover{
        color:$principal;
    }
}