@mixin espaciado($tamano){
    margin: $tamano $tamano;
}

/*mobile*/
%animacion{
    transition: all 1s;
}

.inputText{
    @extend %animacion;
    &:focus
    {
       border: 1px;
    }
}

textarea{
    height: 150px;
    @extend %animacion;
    &:focus
    {
        border: 1px;
    }
}

a{
    @extend %animacion;
    &:focus,&:hover{
        border-bottom: 1px solid;
    }
}

.formulario{
    width: 50%;
    @include espaciado(1rem);
    display: flex;
    flex-direction:column;
}

/*tablet*/
@media screen and (min-width:600px){
    
    header{
        padding: 3%;
    }

    textarea{
        height: 300px;
    }  
}

/*desktop*/
@media screen and (min-width:1024px)
{

    textarea{
        height: 450px;
    }
   
}