@import "fuentes";
@import "colores";
@import "generales";

/*areas del formulario*/
.nombre{
    grid-area: nombre;
}

.email{
    grid-area: email;
}

.observaciones{
    grid-area: obs;
}

.caja{
    grid-area: caja;
}

.botones{
    grid-area:botones;
}

/*mobile*/

.formulario{
    margin: 1rem 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 1rem;
    grid-template-areas: 'nombre'
                         'email'
                         'obs'
                         'caja'
                         'botones';
}

/*tablet*/
@media screen and (min-width:600px){
    
    header{
        padding: 3%;
    }
  
}

/*desktop*/
@media screen and (min-width:1024px)
{
    .formulario{
        margin: 1rem 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: auto;
        gap: 1rem;
        grid-template-areas: 'nombre caja '
                             'email botones '
                             'obs botones';
    }

    .inputText{
        transition: all 1s;
        &:focus
        {
            width: 100%;
        }
    }

    textarea{
        transition:all 1s;
        &:focus
        {
            height: 100%; 
            width: 100% ;
        }
    }

    a{
        transition: all 1s;
        &:focus,&:hover{
            border-bottom: 1px solid;
        }
    }
    
}